@import url('https://fonts.cdnfonts.com/css/google-sans');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-font-size="small"] {
    font-size: 14px;
}

:root[data-font-size="medium"] {
    font-size: 16px;
}

:root[data-font-size="large"] {
    font-size: 18px;
}